:root {
    --parrafos: 'Open Sans', sans-serif;
    --titulos: 'Roboto', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--titulos);
}

.contenedor{
    padding: 60px 0 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    position: relative;

}

.titulo {
    color: #834ddb;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 600px;
    background: #c94b4b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d675dda2, #c9676777), url(../imagenes/portada2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d675dda2, #c9676777), url(../imagenes/portada2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 20px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-header h1{
    font-size: 50px;
    color: #fff;
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-reseñas{
    display: flex;
    justify-content: space-evenly;
}

.contenedor-sobre-reseñas .contenedor-texto{
    width: 40%;
}

.contenedor-texto{
    margin-bottom: 15px;
}

.contenedor-texto h3{
    margin-bottom: 15px;
    }
    
    
.contenedor-texto p{
        padding: 0px 0px 30px 15px;
        font-weight: 300;
        text-align: justify;
    }

    .imagen-about-us{
        width: 48%;
    
    }
