:root{
    --blanco:#fff;
    --azul1:#365096;
    --azul:#103BB6;
    --azulClaro:#6B98F7;
    --azulOscuro:#2B94DD;
    --azulGris:#6b789b;
    --parrafos:'Open Sans', sans-serif;
    --titulos: 'Roboto', sans-serif;
}

html{
    box-sizing: border-box;
}

*,::after, *,::before{
    box-sizing: inherit;
}

body{
    font-family: var(--titulos);
    background-color:  #d675dda2;
}

contenedor{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.imagen-formulario{
    background-image: url('../imagenes/sesion1.jpg');
    background-position: center center;
    background-size: cover;
    height: 200px;
    flex: 0 0 calc(60%);
    position: relative;
}

.imagen-formulario::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #d675dda2 #834ddb);
}


@media(min-width:768px){
    .imagen-formulario{
        height: auto;
    }
}


@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }

}

.formulario{
padding: 50px;
background-color: #cd5ee9;
}

.texto h2, .input label, .contraseña-olvidada a, .texto p{
color: var(--blanco);
}

.texto h2{
    font-size: 50px;
    text-align: center;
}

.text {
    font-size: 22px;
    text-align: center;
}
.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.contraseña-olvidada a{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
}

.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}

.input input{
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(168, 91, 204, 0.842);
    outline-offset: 0px;
}

.input input:hover{
    border: 1px solid;
  box-shadow: inset 0 0 20px rgba(230, 67, 194, 0.925), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}