:root {
    --parrafos: 'Open Sans', sans-serif;
    --titulos: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--titulos);
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #844EDB;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 600px;
    background: #c94b4b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d675dda2, #c9676777), url(../imagenes/portada2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d675dda2, #c9676777), url(../imagenes/portada2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 20px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-header h1{
    font-size: 50px;
    color: #fff;
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-peliculas{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.contenedor-sobre-peliculas .contenedor-textos{
    width: 40%;

}

.contenedor-textos h3{
margin-bottom: 15px;
}

.contenedor-textos h3 span{
    background: #844EDB;
    color: #fffffff8;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    margin-right: 5px;

}

.contenedor-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*galeria*/
.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #844EDB;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.6);
}

.cards .card img{
     width: 100px;
     height: 100px;
     object-fit: cover;
     border: 3px solid #fff;
     border-radius: 50%;
     display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.contacto-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto-indiv{
    width: 28%;
    text-align: center;
}

.contacto-indiv img{
    width: 90%;
}

.contacto-indiv h3{
    margin: 10px;
}